*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
:root{
    
    --body1: #d5d8dc;
}
.body{
    background-color: var(--body1);
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}
.welcome{
    color: #2c3e50;    
    padding-top: 20px;
    text-align: center;

}
form{
    display: flex;
    flex-direction: column;
    background-color: #fdfefe;
    padding: 10px;
    margin-top: 10px;
    width: 50%;
    box-shadow: 2px 2px 2px black;
}
input{
    margin-bottom: 10px;
    background-color: #d5d8dc;
    font-size: 1.5rem;
}
button{
    cursor: pointer;
}
.display ul{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    list-style: none;
    margin: 30px;
    background-color: var(--body1);
    height: auto;
    width: 100vw;
    padding-bottom: 30px;

}
.card{
    background-color: white;
    width: 300px;
    padding: 10px;
    box-shadow: 2px 2px 3px black;

}
.display{
    height: 100vh;
}
.card h2{
    text-align: center;
    color: #2c3e50;
    
}
.card p{
    color: black;
}
.card button{
    margin: 5px;
}